$color_1 : #000000;
$color_2 : #E9E8E8;
$color_3 : #5f6368;
$color_4 : #ffffff;
$color_5 : #1a73e8;
$color_6 : #dfe1e5;
$color_7 : #040d12;
$color_8 : #f8f9fa;
$color_9 : #3c4043;
$color_10 : #cccccc;
$color_11 : #f2f2f2;
$color_12 : #70757a;
$color_13 : #4285f4;
$color_14 : #d93025;
$color_15 : #ebebeb;
$color_16 : #333333;
$color_17 : #777777;
$color_18 : #040D12;
$color_19 : #d9d9d9;
$color_20 : #c0c0c0;
$color_21 : #1a73e8;
$color_22 : #555555;
$color_23 : #4d90fe;
$color_24 : #3079ed;