@import "mixins";
@import "colors";
@import "variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.google-homepage {
  width: 100%;
  height: 100%;
}

.google-header {
  height: 60px;
  padding: 6px;
}

.google-menubar {
  @include layout;
  @include measurement(48px, 100%);
  @include fonts($arial, 14px, 400);
  box-sizing: border-box;
  justify-content: flex-end;
}

.google-menu {
  @include layout;
}

.google-menu1 {
  padding: 0;
}

.link {
  padding: 4px;
  margin: 0 2px;
  line-height: 24px;
  vertical-align: middle;
}

a.link {
  text-decoration: none;
  color: $color_1;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $color_1;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  @include measurement(1px, 100%);
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: $color_1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.google-menu2 {
  position: relative;
  float: right;
}

.google-apps {
  display: inline;
  vertical-align: middle;
}

.google-apps-menu {
  margin-right: 10px;
}

.google-apps-link {
  display: inline-block;
  @include measurement(40px, 40px);
  vertical-align: middle;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
  padding: 8px;
}

.google-apps-link:hover {
  border-radius: 50%;
  background-color: $color_2;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  @include measurement(auto, 80px);
  background-color: $color_3;
  color: $color_4;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 10px;
  letter-spacing: 0.5px;
  vertical-align: middle;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 75%;
  margin-left: -50px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  transition: 0.25s ease-in-out;
  transition-delay: 0.25s;
}

.mi {
  @include measurement(24px, 24px);
  vertical-align: middle;
  color: $color_3;
  fill: currentColor;
  cursor: pointer;
}

.google-signin {
  @include fonts(sans-serif, 14px, 500);
  color: $color_4;
  cursor: pointer;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-left: 0;
  margin-right: 8px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $color_5;
  -moz-border-radius: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.google-signin:hover {
  background-color: $color_5;
  opacity: 0.9;
}

a.signin-link {
  text-decoration: none;
  color: $color_4;
  display: inline;
}

.logo-img {
  @include layout;
  flex-direction: column;
}

.google-img {
  min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
}

.google-logo {
  position: relative;
  max-height: 92px;
}

.google-logo-img {
  height: 100%;
  margin-top: 198px;
}

#google-img {
  @include measurement(92px, 272px);
}

.google-search {
  max-height: 160px;
}

.google-search-form {
  padding: 20px;
}

.google-search1 {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  max-width: 584px;
}

.google-search2 {
  display: flex;
  @include measurement(46px, auto);
  border: 1px solid $color_6;
  border-radius: 24px;
  margin: 0 auto;
  box-shadow: none;
}

.google-search3 {
  @include layout;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0%;
  padding: 5px 12px;
}

.google-search-input {
  @include layout;
}

.search-icon {
  @include layout;
  flex: 0 0 auto;
  flex-direction: row;
}

.search-ico {
  flex: 1 0 auto;
  @include layout;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 4px;
}

.search-img {
  @include measurement(18px, 18px);
  background-size: 18px;
  vertical-align: middle;
}

.search-input {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.search-input-area {
  flex: 100%;
  color: transparent;
  white-space: pre;
  height: 34px;
  font-size: 14px;
}

.search-input-textarea {
  display: flex;
  flex: 0 0 auto;
  @include measurement(34px, 100%);
  margin-top: -34px;
  padding-left: 10px;
  font-size: 16px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  outline-style: none;
  border: none;
  vertical-align: middle;
}

.search-by-voice-cta {
  @include layout;
  flex: 0 0 auto;
  flex-direction: row;
}

.search-by-voice {
  flex: 1 0 auto;
  @include layout;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 4px;
}

.mic-img {
  @include measurement(24px, 24px);
  background-size: 24px;
}

.search-by-img-cta {
  @include layout;
  flex: 0 0 auto;
  flex-direction: row;
}

.search-by-image {
  flex: 1 0 auto;
  @include layout;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 4px;
}

.camera-img {
  @include measurement(24px, 24px);
  background-size: 24px;
}

.tooltip-c .tooltip-c-text {
  visibility: hidden;
  width: 100px;
  font-size: 11px;
  background-color: $color_7;
  color: $color_4;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 42%;
  margin-left: -33px;
}

.tooltip-c .tooltip-c-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 44%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $color_7 transparent;
}

.tooltip-c:hover .tooltip-c-text {
  visibility: visible;
  transition: 0.25s ease-in-out;
  transition-delay: 0.25s;
}

.google-search-cta {
  height: 70px;
}

.google-search-cta1 {
  padding-top: 18px;
}

.cta-button {
  height: 36px;
  min-width: 54px;
  background-color: $color_8;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $color_9;
  @include fonts(sans-serif, 14px, 300);
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.cta-button:hover {
  border: 1px solid $color_10;
}

.google-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: $color_11;
}

.footer-content {
  @include layout;
}

.msf {
  align-items: center;
}

.footer-link {
  display: inline-block;
  @include fonts($lucida, 14px, 400);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding: 8px;
  white-space: nowrap;
}

.footer-link,
a.footer-link {
  color: $color_12;
  text-decoration: none;
}

.lside a:hover {
  text-decoration: underline;
}

.rside a:hover {
  text-decoration: underline;
}
